@font-face {
  font-family: galiver-sans;
  src: url("/assets/fonts/galiver-sans.ttf");
}

@font-face {
  font-family: galiver-sans;
  src: url("/assets/fonts/galiver-sans-bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: game-continue;
  src: url("/assets/fonts/game-continue-03.ttf");
}

@font-face {
  font-family: orange-kid;
  src: url("/assets/fonts/orange-kid.ttf");
}
