<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/images/favicon.svg" rel="icon" type="image/svg+xml" />
  <title>Tristris 2</title>
</head>
<body>
  <header></header>
  <main>
    <canvas id="game-canvas"></canvas>
  </main>
  <footer>
    <debug-info class="debugging-info">
      <app-version data-app-version="<%= process.env.REVISION %>"></app-version>
    </debug-info>
    <script defer src="/main.js"></script>
  </footer>
</body>
</html>
